/* ========================================
   HEADER SECTION
   ======================================== */

header {
    padding: 1em 4.5em;
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000; /* Make sure it's on top of the page content */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 2rem;
    backdrop-filter: blur(16px);
}

/* Hide the menu by default */
.header__menu, .header__icon, .header__contact_menu{
    display: none;
}

/* ========================================
   HAMBURGER MENU
   ======================================== */

.header__bars {
    --button-color: var(--clr-dark);
    background: transparent;
    border: 0;
    cursor: pointer;
}
  
.header__bars[data-state="closed"] :is(.top, .bottom) {
    animation: to-open-icon 1s forwards;
}

.header__bars[data-state="opened"] :is(.top, .bottom) {
    animation: to-close-icon 1s forwards;
}

.header__bars .hamburger {
    transition: rotate 800ms 100ms;
}

.header__bars[data-state="opened"] .hamburger {
    rotate: 2turn;
}

.header__bars .line.top {
    --rotation: -45deg;
    transform-origin: 65px 45px;
}

.header__bars .line.bottom {
    --rotation: 45deg;
    transform-origin: 60px 55px;
}

/* ========================================
   HEADER LOGO
   ======================================== */

.header__logo {
    display: flex;
    justify-content: flex-start;    
    font-family: var(--font-poppins);
    text-transform: uppercase;
}

.logo__letters {
    display: inline-flex;
    position: relative;
    overflow: hidden;
    padding: 2px;
}

.G {
    transform: translateX(-25px);
    transition: transform 0.5s ease, opacity 0.5s ease; /* Transition for G */
}

.char {
    transform: translateY(50px);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease; /* Transition for chars */
}

/* Default state transition delays for characters */
.logo__letters .char:nth-child(9) { transition-delay: 0.1s; }
.logo__letters .char:nth-child(8) { transition-delay: 0.2s; }
.logo__letters .char:nth-child(7) { transition-delay: 0.3s; }
.logo__letters .char:nth-child(6) { transition-delay: 0.4s; }
.logo__letters .char:nth-child(4) { transition-delay: 0.5s; }
.logo__letters .char:nth-child(3) { transition-delay: 0.6s; }
.logo__letters .char:nth-child(2) { transition-delay: 0.7s; }
.logo__letters .G { transition-delay: 0.9s; } /* Delay for G when not hovered */

/* Hover state for characters */
.logo__letters:hover .char:nth-child(2) { transition-delay: 0.1s; }
.logo__letters:hover .char:nth-child(3) { transition-delay: 0.2s; }
.logo__letters:hover .char:nth-child(4) { transition-delay: 0.3s; }
.logo__letters:hover .char:nth-child(6) { transition-delay: 0.4s; }
.logo__letters:hover .char:nth-child(7) { transition-delay: 0.5s; }
.logo__letters:hover .char:nth-child(8) { transition-delay: 0.6s; }
.logo__letters:hover .char:nth-child(9) { transition-delay: 0.7s; }
.logo__letters:hover .G { transition-delay: 0s; }  /* No delay during hover */

/* Apply hover effects */
.logo__letters:hover .char {
    transform: translateY(0); /* Move characters to original position */
    opacity: 1;
}

.logo__letters:hover .G {
    transform: translateX(0); /* Move the original G to the right */
}

/* ========================================
   RESPONSIVE BREAKPOINTS
   ======================================== */

/* XS - Extra Small Devices (min-width: 475px)
   Suitable for small smartphones */
/* @media (min-width: 475px) { } */

/* SM - Small Devices (min-width: 640px)
   Suitable for larger smartphones */
/* @media (min-width: 640px) { } */

/* MD - Medium Devices (min-width: 768px)
   Suitable for tablets in portrait mode */
/* @media (min-width: 768px) { } */

/* LG - Large Devices (min-width: 1024px)
   Suitable for tablets in landscape mode and smaller laptops */
/* @media (min-width: 1024px) { } */

/* XL - Extra Large Devices (min-width: 1280px)
   Suitable for larger laptops and desktops */
@media (min-width: 1280px) {
    /* Header menu display settings for larger screens */
    .header__menu {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        gap: 1em;
    }

    /* ========================================
    HEADER LINK ANIMATION
    ======================================== */
    /* Header link styles and hover animations */
    .header__link {
        font-size: var(--size-sm);
        color: var(--clr-dark);
        font-weight: 100;
        padding-left: 20px;
        padding-right: 20px;
        text-transform: uppercase;
        text-decoration: none;
        transition: bounce .5s ease;
        transition: color .3s ease;
        display: inline-block;
        position: relative;
        animation: bounceBack 1s ease-in-out forwards; /* Smooth ease-out when hover ends */
    }

    /* Hover effect for header links */
    .header__link:hover {
        animation: bounce 1.2s ease-in-out forwards;
        color: var(--clr-yellow);
    }
    
    /* Divider line style under the header links */
    .header__line {
        border: 1px solid var(--clr-yellow);
        padding-top: 1.5em
    }

    /* Underline effect for header links on hover */
    .header__link:after {
        content: "";
        font-size: 0rem;
        position: absolute;
        background-color: var(--clr-yellow);
        height: 1px;
        left: 50%;
        width: 0;
        bottom: -5px;
        transform: translateX(-50%);
        transition: 0.5s;
    }
    
    /* Hover effect for underline with text */
    .header__link:hover:after {
        /* THIS CAN BE USED FOR LINKS */
        content: attr(data-underlink);
        text-align: center;
        font-size: 0.9rem;
        width: 60%;
    }
    
    /* Icon style for theme toggle (sun icon) */
    .header__sun {
        display: block;
        color: var(--clr--yellow);
        width: var(--size-xl);
        height: var(--size-xl);
    }
    
    /* ========================================
    CONTACT MENU
    ======================================== */
   /* .header__inner_contact_menu {
    transform: translateX(-50%) scaleY(1) !important;
    opacity: 1 !important;
    } */

    /* Styling for the contact button */
    .header__icon {
        background-color: var(--clr-dark);
        color: white;
        padding: 0.3em 0.6em;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-radius: 1em;
        position: relative;
        z-index: 1001;
        text-decoration: none;
        transition: transform 0.3s ease, background-color 0.3s ease;
    }

    .header__icon:hover, 
    .header__contact_menu:hover .header__icon {
        background: white;
        color: var(--clr-dark);
        transform: scale(1.1);
    }

    /* Wrapper for the contact menu */
    .header__contact_menu {
        position: relative;
        display: inline-block;
        font-size: var(--size-sm);
        color: var(--clr-dark);
        font-weight: 100;
        padding: 0 10px;
        text-transform: uppercase;
        text-decoration: none;
        align-content: flex-start;
    }

    /* Inner menu dropdown */
    .header__inner_contact_menu {
        position: absolute;
        top: -50%;
        left: 50%;
        transform: translateX(-50%) scaleY(0.8);
        transform-origin: top;
        background: var(--clr-dark);
        border-radius: 30px;
        padding: 80px 20px 40px 10px;
        min-width: 150px;
        display: flex;
        flex-direction: column;
        z-index: 100;
        opacity: 0;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Smooth shadow */
        transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s ease;
    }

    /* On hover, make the menu appear */
    .header__contact_menu:hover .header__inner_contact_menu {
        transform: translateX(-50%) scaleY(1);
        opacity: 1;
    }

    /* Menu list styling */
    .contact_menu__list {
        list-style: none;
        padding: 0%;
        margin: 0;
    }

    .contact_menu__item {
        opacity: 0;
        position: relative;
        display: inline-block; /* Ensure the element respects text width */
        transform: translateY(20px);
        transition: opacity 0.5s ease-out, transform 0.4s ease-out;
        margin-left: 20%;
    }

    .contact_menu__list:hover > .contact_menu__item:hover {
        opacity: 1;
    }

    .contact_menu__item::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background: white;
        transition: width 0.4s ease;
    }

    .contact_menu__item:hover::after {
        width: 100%; /* Extend underline to the full width of the text */
    }

    /* Link styling inside the menu item */
    .contact_menu__item a {
        text-decoration: none;
        color: white;
        transform: translateY(20px);
    }

    /* On hover of the parent menu, activate animations */
    .header__contact_menu:hover .contact_menu__item {
        opacity: 1;
        transform: translateY(0);
    }

    /* Reset state when hover ends */
    .header__contact_menu:not(:hover) .contact_menu__item {
        transition: none;
        opacity: 0;
        transform: translateY(20px);
    }

    /* Staggered animation for each item */
    .contact_menu__item:nth-child(1) { transition-delay: 0.1s; }
    .contact_menu__item:nth-child(2) { transition-delay: 0.2s; }
    .contact_menu__item:nth-child(3) { transition-delay: 0.3s; }
    .contact_menu__item:nth-child(4) { transition-delay: 0.4s; }
    .contact_menu__item:nth-child(5) { transition-delay: 0.5s; }
    .contact_menu__item:nth-child(6) { transition-delay: 0.6s; }
    /* Font sizes for Resume and Contact buttons */
    .header__resume, .header__icon { font-size: var(--size-sm); }

    /* Hide hamburger menu icon on larger screens */
    .header__bars {
        display: none;
    }
}

/* 2XL - Double Extra Large Devices (min-width: 1536px)
   Suitable for very large desktops and widescreens */
/* @media (min-width: 1536px) { } */

