/* Header layout */
.header {
    z-index: 1000; /* Make sure it's on top of the page content */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.header__menu {
    display: none;
}

/* Hamburger Menu */
.header__bars {
    --button-color: black;
    background: transparent;
    border: 0;
    cursor: pointer;
}
  
.header__bars[data-state="closed"] :is(.top, .bottom) {
    animation: to-open-icon 1s forwards;
}

.header__bars[data-state="opened"] :is(.top, .bottom) {
    animation: to-close-icon 1s forwards;
}

.header__bars .hamburger {
    transition: rotate 800ms 100ms;
}

.header__bars[data-state="opened"] .hamburger {
    rotate: 2turn;
}

.header__bars .line.top {
    --rotation: -45deg;
    transform-origin: 65px 45px;
}

.header__bars .line.bottom {
    --rotation: 45deg;
    transform-origin: 60px 55px;
}

/* Text Logo */
.nav-logo {
    display: block;
    font-family: var(--font-logo);
    font-size: 26px;
    letter-spacing: -0.04em;
}

.char {
    transform: translate3d(0px, 100%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
    text-transform: none; /* Ensure that no text transformation is applied */  
}

#text-logo {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.nav-logo {
    display: flex;
    gap: 0.09rem;
}

/* ul {
    margin: 0;
    padding: 0;
    writing-mode: vertical-lr;
    bottom: 0;
} 

li {
    transform: rotate(180deg);
    letter-spacing: -1.1vw;
    font-size: calc(7.5vw + 1em);
    text-transform: uppercase;
} */


/* xs */
/* @media (min-width: 475px) {
} */

/* sm */
/* @media (min-width: 640px) {
} */

/* md */
/* @media (min-width: 768px) {
} */

/* lg */
/* @media (min-width: 1024px) {
} */

/* xl */
@media (min-width: 1280px) {
    .header__menu {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        gap: 1em;
    }
    
    .header__link {
        font-size: var(--size-base);
        font-weight: 200;
        color: var(--clr-dark);
        letter-spacing: -0.05em;
        padding-left: 20px;
        padding-right: 20px;
        text-decoration: none;
        transition: bounce .5s ease;
        transition: color .3s ease;
        display: inline-block;
        position: relative;
        animation: bounceBack 1s ease-in-out forwards; /* Smooth ease-out when hover ends */
    }
    
    .header__link:hover {
        animation: bounce 1.2s ease-in-out forwards;
        color: var(--clr-yellow);
    }
    
    .header__line {
        border: 1px solid var(--clr-yellow);
        padding-top: 1.5em
    }
    
    .header__sun {
        display: block;
        color: var(--clr--yellow);
        width: var(--size-xl);
        height: var(--size-xl);
    }
    
    .header__resume {
        font-size: var(--size-sm);
    }

    .header__contact {
        font-size: var(--size-sm);
    }

    .header__bars {
        display: none;
    }
}

/* 2xl */
/* @media (min-width: 1536px) {

} */

/* Animation for the header icons when hovering. */
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-4px); /* Higher bounce */
    }
    100% {
        transform: translateY(-3px); /* Final bounce position */
    }
}

/* Animation for the header icons when hovering away. */
@keyframes bounceBack {
    0% {
        transform: translateY(-3px);
    }
    50% {
        transform: translateY(.5px); /* Higher bounce */
    }
    100% {
        transform: translateY(0); /* Final bounce position */
    }
}

/* Animation for the hamburger button when it opens. */
@keyframes to-open-icon {
    0% {
        stroke-dashoffset: 0;
        rotate: var(--rotation);
    }
    40% {
        stroke-dashoffset: 79.9;
        rotate: var(--rotation);
    }
    60% {
        stroke-dashoffset: 79.9;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

/* Animation for the hamburger button when it closes. */
@keyframes to-close-icon {
    0% {
        stroke-dashoffset: 0;
    }
    40% {
        stroke-dashoffset: 79.9;
    }
    60% {
        stroke-dashoffset: 79.9;
        rotate: calc(var(--rotation));
    }
    100% {
        stroke-dashoffset: 0;
        rotate: var(--rotation);
    }
}