.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 4rem;
}

.hero__title {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700; 
    font-style: normal;
    font-size: var(--size-9xl);
    color: var(--clr-dark);
    text-align: center;
    line-height: 0.72em;
    letter-spacing: -0.06em;
    transition: all 1s ease;
}

.hero__title:hover {
    -webkit-text-fill-color: var(--clr-light);
    -webkit-text-stroke-color: var(--clr-dark);
    -webkit-text-stroke-width: 0.1px; 
}

.hero__description {
    font-family: var(--font-sans);
    font-weight: 300;
    font-size: 1rem;
    text-align: justify;
}

.hero__base {
    font-family: var(--font-sans);
    font-size: var(--size-2xl);
    font-weight: 600;
    letter-spacing: -0.09rem;
    text-align: left;
}

/* xs */
/* @media (min-width: 475px) {
} */

/* sm */
@media (min-width: 640px) {
    .hero__title {
        font-size: var(--size-10xl)
    }
}

/* md */
@media (min-width: 768px) {
    .hero__title {
        font-size: var(--size-12xl)
    }
}

/* lg */
@media (min-width: 1024px) {
    .hero__title {
        font-size: var(--size-17xl)
    }
}

/* xl */
@media (min-width: 1280px) {
    .hero__title {
        font-size: var(--size-22xl)
    }
}

/* 2xl */
@media (min-width: 1536px) {
    .hero__title {
        font-size: var(--size-24xl)
    }
}
