/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Global variables */
:root {
    /* Main Palette */
    --color-primary-text: rgb(59, 61, 65);
    --color-secondary-text: rgb(160, 165, 172);
    --color-border-light: rgba(225, 228, 232, 0.8);
    --color-bg: rgb(230, 230, 230);
    
    /* Movable Divs */
    --color-bg-div: rgb(245, 245, 245);
    --font-color-div: rgb(94, 94, 94);

    /* Font Stack */
    --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-inter: "Inter", sans-serif;
}

/* Base styles */
body {
    background-color: var(--color-bg);
    font-family: var(--font-sans);
    color: var(--color-primary-text);
}

/* Link styles */
a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease, opacity 0.3s ease;
}

a:hover {
    opacity: 0.4;
}

/* Navigation */
nav {
    position: fixed;
    top: 0;
    left: 0;
    justify-content: end;
}

/* Sidebar */
nav#sideBar section {
    border-bottom: 1px solid var(--color-border-light);
    box-sizing: border-box;
    padding: 1em 2em;
}

#about ul {
    font-size: 1.2rem;
    letter-spacing: -.2px;
}

nav#sideBar {
    min-width: 15%;
    height: 100vh;
    position: fixed;
    overflow-y: auto;
    border-right: 1px solid var(--color-border-light);
}

/* List styles */
ul[title]::before {
    font-family: var(--font-inter);
    font-style: normal;
    content: attr(title);
    color: var(--color-secondary-text);
    text-transform: uppercase;
    font-size: 0.75rem;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
    font-weight: 200;
}

ul {
    padding: 0;
    text-transform: capitalize;
    font-size: 0.875rem;
    line-height: 1.5rem;
}

#about ul {
    font-size: 1.2rem;
    text-transform: capitalize;
    line-height: 2rem;
    font-weight: 400;
}

li {
    list-style: none;
}

/* Remove bottom border of the last section */
nav#sideBar section:last-of-type {
    border-bottom: none;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    nav#sideBar {
        min-width: 100%;
        height: auto;
        position: static;
        border-right: none;
    }

    body {
        font-size: 16px;
    }

    ul[title]::before {
        font-size: 12px;
        letter-spacing: 0.1rem;
    }

    ul {
        font-size: 14px;
    }
}

/* Move Divs */
.sortable-container {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap onto multiple lines */
    gap: 10px; /* Space between items */
    padding: 10px;
    border: 2px dashed #ddd;
    background-color: #fafafa;
    border-radius: 8px;
    overflow: auto; /* Allows scrolling if content overflows */
    max-width: 100%; /* Ensure container doesn't exceed viewport width */
}

.sortable-item {
    width: 500px;
    height: 500px;
    background-color: var(--color-bg-div);
    border-radius: 18px;
    display: block;
    margin: 5px;
    position: relative;


    box-sizing: border-box;
    padding: 15px;
    background: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.sortable-item:active {
    cursor: grabbing;
}

.sortable-item.dragging {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.sortable-item-title {
    font-size: 11px;
    font-family: 'Inter', sans-serif;
    color: var(--font-color-div);
    line-height: 13.2px;
    font-weight: 400;
    text-transform: uppercase;
    height: auto;
    left: 20px;
    position: absolute;
    top: 20px;
    white-space: nowrap;
    letter-spacing: 0.04em;
}

.sortable-item-id {
    font-size: 11px;
    font-family: 'Inter', sans-serif;
    color: var(--font-color-div);
    line-height: 13.2px;
    font-weight: 400;
    text-transform: uppercase;
    height: auto;
    right: 20px;
    position: absolute;
    top: 20px;
    white-space: nowrap;
    letter-spacing: 0.04em;
}