/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'Circo';
    src: url('../assets/fonts/Circo.otf') format('opentype'); /* Adjust based on the format */
    font-weight: normal;
    font-style: normal;
  }
  
/* Global variables */
:root {
    /* Main Palette */
    --clr-dark: #1b1b1b;
    --clr-light: #f1f5f9;
    --clr-zinc400: #a1a1aa;
    --clr-zinc600: #52525b;
    --clr-zinc800: #27272a;
    --clr-primary-text: rgb(27, 27, 27);
    --clr-secondary-text: rgb(160, 165, 172);
    --clr-border-light: rgba(225, 228, 232, 0.8);
    --clr-bg: rgb(245, 245, 245);
    --clr-yellow: #fda228;
    
    /* Movable Divs */
    --clr-bg-div: rgb(255, 255, 255);
    --div-shadow: rgb(33, 38, 45);
    --font-clr-div: rgb(94, 94, 94);
    --right-padding: 5px;

    /* Font Stack */
    --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple clr Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-inter: "Inter", sans-serif;
    --font-serif: 'Playfair Display', serif;
    --font-logo: 'Circo', sans-serif;

    /* Sizes */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 7.3rem;
    --size-10xl: 10rem;
    --size-12xl: 12em;
    --size-14xl: 14rem;
    --size-16xl: 16rem;
    --size-18xl: 18rem;
    --size-20xl: 20rem;
    --size-22xl: 22rem;
    --size-24xl: 24rem;
}

* {
    margin: 0;
    line-height: calc(1em + 0.5rem); /* Automatic calculation for line-heigh in any size text. */
}

html {
    scroll-behavior: smooth;
}

::selection {
    background: var(--clr-yellow);
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

body {
    color: var(-clr-primary-text);
}

a {
    color: var(--clr-yellow);
}
  
strong {
    color: var(--clr-dark);
}

button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}
