/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Global variables */
:root {
    /* Main Palette */
    --clr-dark: #070a13;
    --clr-light: #f1f5f9;
    --clr-zinc400: #a1a1aa;
    --clr-zinc600: #52525b;
    --clr-zinc800: #27272a;
    --clr-primary-text: rgb(27, 27, 27);
    --clr-secondary-text: rgb(160, 165, 172);
    --clr-border-light: rgba(225, 228, 232, 0.8);
    --clr-bg: rgb(245, 245, 245);
    --clr-yellow: #fda228;
    
    /* Movable Divs */
    --clr-bg-div: rgb(255, 255, 255);
    --div-shadow: rgb(33, 38, 45);
    --font-clr-div: rgb(94, 94, 94);
    --right-padding: 5px;

    /* Font Stack */
    --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple clr Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-inter: "Inter", sans-serif;
    --font-serif: 'Playfair Display', serif;

    /* Sizes */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}

* {
    margin: 0;
    line-height: calc(1em + 0.5rem); /* Automatic calculation for line-heigh in any size text. */
}

html {
    scroll-behavior: smooth;
}

::selection {
    background: var(--clr-yellow);
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

body {
    color: var(-clr-primary-text);
}

a {
    color: var(--clr-yellow);
}
  
strong {
    color: var(--clr-dark);
}

/* main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    width: 55vw;
} */

.about__title {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700; 
    font-style: normal;
    font-size: 8.5rem;
    text-align: center;
    line-height: 6rem;
    letter-spacing: -0.45rem;
}

#about__description {
    font-family: var(--font-sans);
    font-weight: 300;
    margin-bottom: 1.11rem;
    font-size: 1rem;
    text-align: justify;
}


#about__base {
    font-family: var(--font-sans);
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: -0.09rem;
    margin-bottom: 1.11rem;
    text-transform: uppercase;
    text-align: left;
    width: 100%;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
  
.section {
    margin-top: 1rem;
}

.loading {
    filter: blur(40px) grayscale(100%);
}

.loaded {
    filter: blur(0) grayscale(0);
    transition: 0.7s ease-in-out;
}

button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}

/* xs */
@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }
}

/* sm */
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }

    .about__title {
        font-size: 12em;
        line-height: 8.5rem;
        letter-spacing: -0.8rem;
    }
}

/* md */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .section {
        margin-top: 4rem;
    }

    .about__title {
        font-size: 14em;
        line-height: 10rem;
        letter-spacing: -1rem;
    }
}

/* lg */
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }

    .about__title {
        font-size: 19rem;
        line-height: 13.5rem;
        letter-spacing: -1.3rem;
    }
}

/* xl */
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }

    .about__title {
        font-size: 22rem;
        line-height: 15.5rem;
        letter-spacing: -1.5rem;
    }
}

/* 2xl */
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }

    .about__title {
        font-size: 25rem;
        line-height: 18rem;
        letter-spacing: -1.7rem;
    }
}