/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

.btn {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
  border: .14em solid var(--clr-dark);
  border-radius: .28rem;
  flex: 0 auto;
  order: 0;
  justify-content: center;
  align-self: auto;
  align-items: center;
  padding: 0.5em 1em; 
  font-weight: 600;
  line-height: 1.67;
  transition: all .3s;
  display: inline-block;
  text-decoration: none;
  letter-spacing: -0.05em;
  transition: all 0.3s;
}
  
.btn:hover {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  padding-left: 32px;
  padding-right: 32px;
  box-shadow: 0 32px 32px #1b1b1b1a,0 16px 16px #1b1b1b1a,0 8px 8px #1b1b1b1a,0 4px 4px #1b1b1b1a,0 2px 2px #1b1b1b1a;
}
  
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.section {
  margin-top: 5rem;
}

.loading {
  filter: blur(40px) grayscale(100%);
}

.loaded {
  filter: blur(0) grayscale(0);
  transition: 0.7s ease-in-out;
}

/* xs */
@media (min-width: 475px) {
  .container {
      max-width: 475px ;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
      max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
      max-width: 768px;
  }

  .section {
      margin-top: 10rem;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
      max-width: 1024px;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
      max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
      max-width: 1536px;
  }
}